<% FollowedUser.forEach(user => { %>
    <div class="follow-user-card">
        <div>
            <img  class="user-img" src="<%= user.following.imageName %>">
            <p><%= user.following.name%></p>
        </div>
        <div class="following-button">Following</div>
    </div>
<% }) %>