<div class="main posts-index">
  <div class="container">
	<p><a href="<%= `/posts` %>">Expolore all posts</a></p>
	<p>"currentUser.idがfollowしているユーザーの投稿のみを表示する"</p>
    <%- include('../_timeline', {timeline: timeline}); %>
  </div>
</div>
