<div class="main posts-new">
  <div class="container">
    <h1 class="form-heading">Create a new post</h1>
    <form action="/posts" method="POST" data-test="form">
      <div class="form">
        <div class="form-body">
          <% errors.forEach(error => { %>
            <div class="form-error" data-test="error-<%= error.param %>"><%= error.msg %></div>
          <% }) %>
          <textarea name="content" data-test="textarea-content"><%= post.content %></textarea>
          <input type="submit" value="Post" data-test="submit">
        </div>
      </div>
    </form>
  </div>
</div>
